.password-item {
  display: flex;
  align-items: center;
  list-style-type: none;
  border: 1px solid #7683cb;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 16px;
  padding-top: 11px;
  padding-right: 8px;
  padding-bottom: 11px;
  padding-left: 8px;
}

@media screen and (min-width: 768px) {
  .password-item {
    width: 31%;
    margin-right: 16px;
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    min-width: 271px;
  }
}

.initial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 38px;
  height: 38px;
  border-radius: 20px;
  margin-right: 12px;
}

@media screen and (min-width: 768px) {
  .initial-container {
    width: 51px;
    height: 51px;
    border-radius: 25px;
  }
}

.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

.initial {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.website-first-letter {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  line-height: 1.7;
  margin: 0px;
}

.website-and-password {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.website {
  color: #f8fafc;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin: 0px;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .website {
    font-size: 18px;
  }
}

.username {
  color: #f8fafc;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  margin: 0px;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .username {
    font-size: 16px;
  }
}

.stars-img {
  width: 130px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .stars-img {
    height: 19px;
  }
}

.stars-none {
  display: none;
}

.password {
  display: none;
  color: #f8fafc;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  margin: 0px;
  word-wrap: break-word;
}

@media screen and (min-width: 768px) {
  .password {
    font-size: 16px;
  }
}

.show-passwords {
  display: block;
}
.delete-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.delete-image {
  width: 24px;
  height: 24px;
}
