.password-manager-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #9ba9eb, #c3caea);
  padding-top: 24px;
  padding-bottom: 24px;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  .password-manager-container {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.password-manager-responsive-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 12px;
  max-width: 468px;
}

@media screen and (min-width: 768px) {
  .password-manager-responsive-container {
    max-width: 1100px;
  }
}

.app-logo {
  width: 147px;
  height: 50px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .app-logo {
    width: 214px;
    height: 69px;
    margin-bottom: 48px;
  }
}

.password-manager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5763a5;
  border-radius: 8px;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  box-shadow: 0px 4px 16px #7b89c0;
}

@media screen and (min-width: 768px) {
  .password-manager {
    flex-direction: row;
    padding: 48px;
  }
}

.add-new-password-form {
  display: flex;
  flex-direction: column;
  background: #454f84;
  border-radius: 16px;
  width: 100%;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  order: 1;
}

@media screen and (min-width: 768px) {
  .add-new-password-form {
    width: 50%;
    margin-right: 48px;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
    max-width: 549px;
    order: 0;
  }
}

.add-new-password-heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .add-new-password-heading {
    font-size: 24px;
    line-height: 1.75;
  }
}

.input-container {
  display: flex;
  background-color: #f1f5f9;
  border: 1px solid #b6c3ca;
  border-radius: 4px;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .input-container {
    margin-top: 24px;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  border-right: 1px solid #b6c3ca;
  padding: 14px;
}

@media screen and (min-width: 768px) {
  .logo-container {
    padding: 16px;
  }
}

.logo-image {
  width: 20px;
  height: 20px;
}

.input {
  flex-grow: 1;
  /* color: #e2e8f0; */
  color: #64748b;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  background-color: transparent;
  height: 48px;
  border: none;
  padding-top: 12px;
  padding-right: 8px;
  padding-bottom: 12px;
  padding-left: 8px;
  outline: none;
}

@media screen and (min-width: 768px) {
  .input {
    font-size: 18px;
    height: 56px;
    padding-top: 16px;
    padding-right: 12;
    padding-bottom: 16px;
    padding-left: 12px;
  }
}

.add-button {
  align-self: flex-end;
  background-color: #0b69ff;
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  border: none;
  border-radius: 4px;
  margin-top: 16px;
  padding-top: 8px;
  padding-right: 32px;
  padding-bottom: 8px;
  padding-left: 32px;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .add-button {
    font-size: 18px;
    margin-top: 24px;
  }
}

.password-manager-sm-image {
  width: 100%;
  margin-bottom: 16px;
  order: 0;
}

@media screen and (min-width: 768px) {
  .password-manager-sm-image {
    display: none;
  }
}
.password-manager-lg-image {
  display: block;
  width: 50%;
  max-width: 453px;
}

@media screen and (max-width: 767px) {
  .password-manager-lg-image {
    display: none;
  }
}

.password-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5763a5;
  border-radius: 8px;
  margin-top: 16px;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  min-height: 414px;
  box-shadow: 0px 4px 16px #7b89c0;
}

@media screen and (min-width: 768px) {
  .password-list-container {
    padding-top: 24px;
    padding-right: 48px;
    padding-bottom: 24px;
    padding-left: 48px;
    min-height: 511px;
  }
}

.password-list-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.heading-and-count-container {
  display: flex;
  align-items: center;
}

.your-passwords-heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0px;
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .your-passwords-heading {
    font-size: 24px;
    margin-right: 12px;
  }
}

.passwords-count {
  text-align: center;
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  width: 30px;
  height: 18px;
  border: 1px solid #94a3b8;
  border-radius: 18px;
  margin: 0px;
  margin-right: 4px;
}

.search-input-container {
  flex-grow: 0.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f5f9;
  height: 24px;
  border: 1px solid #b6c3ca;
  /* border: 1px solid #cbd5e1; */
  border-radius: 2px;
  max-width: 140px;
}

@media screen and (min-width: 768px) {
  .search-input-container {
    height: 32px;
    max-width: 244px;
  }
}

.search-image-container {
  border-right: 1px solid #b6c3ca;
  height: 24px;
  padding-top: 4px;
  padding-left: 10px;
  padding-bottom: 4px;
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  .search-image-container {
    height: 32px;
    padding-top: 6px;
    padding-left: 16px;
    padding-bottom: 6px;
    padding-right: 16px;
  }
}

.search-image {
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .search-image {
    width: 20px;
    height: 20px;
  }
}

.search-input {
  flex-grow: 1;
  color: #64748b;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  line-height: 1.75;
  background-color: transparent;
  width: 100%;
  height: 24px;
  padding-top: 6px;
  padding-left: 8px;
  padding-bottom: 6px;
  padding-right: 8px;
  border: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .search-input {
    font-size: 14px;
    height: 32px;
    padding-top: 4px;
    padding-left: 14px;
    padding-bottom: 4px;
    padding-right: 14px;
  }
}

.horizontal-line {
  border: 1px solid #7683cb;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .horizontal-line {
    margin-top: 24px;
    margin-bottom: 16px;
  }
}

.show-passwords-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.show-passwords-checkbox {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .show-passwords-checkbox {
    width: 24px;
    height: 24px;
  }
}

.show-passwords-label {
  color: #f8fafc;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.75;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .show-passwords-label {
    font-size: 18px;
  }
}

.no-passwords-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-passwords-img {
  width: 289px;
}

@media screen and (min-width: 768px) {
  .no-passwords-img {
    width: 371px;
  }
}

.no-passwords {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .no-passwords {
    font-size: 24px;
  }
}
.password-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .password-list {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
